.modal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(22,29,39, 0.5);
}


.registerSection {
    height: 40vh;
    width: 30vw;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    top: 20vh;
    left: 35vw;
    border-color: 1px solid red;
    background-color: rgba(26, 34, 48, 0.9);
    color: white; 
    border-radius: 10px;
    padding-top: 1vh;
    padding-bottom: 3vh;
    padding-right: 1vw;
}
.logo {
    height: 5vh;
    width: 5vw;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(175deg) brightness(108%) contrast(101%);
    transform: rotate(180deg);
  }
.header {
    height: 5vh;
    width: 30vw;
    display: flex;
    align-items: right;
    justify-content: right;
}
.head {
    background-color:#161d27;
    color: white; 
}

  .create {
    font-family: 'Mont Heavy DEMO';
    font-size: 25px;
    letter-spacing: 2px; 
  }

  .name{
    height: 4vh;
    width: 10vw;
    background-color: #161d27;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
  }

  .sign{
    height: 3vh;
    width: 10vw;
    background-color: white;
    color: #161d27;
    border-radius: 35px;
}	